{
  "env": {
    "es6": true,
    "jasmine": true,
    "node": true
  },
  "globals": {
    "ROOT_DIR": true,
    "it": false,
    "xit": false,
    "describe": false,
    "xdescribe": false,
    "beforeEach": false,
    "before": false,
    "after": false,
    "afterEach": false,
    "mtShout": true,
    "statsd": false,
    "window": true,
    "document": false,
    "$": false,
    "angular": false,
    "_": true,
    "Spinner": false,
    "Mirror": false,
    "moment": true,
    "alert": false,
    "navigator": false,
    "matchMedia": false,
    "addthis": false,
    "Snap": false,
    "JIBE": true,
    "DateFormatter": true,
    "dateFormat": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "no-cond-assign": 2,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 1,
    "no-empty-character-class": 2,
    "no-ex-assign": 2,
    //no-extra-boolean-cast
    "no-extra-parens": [2, "functions"],
    "no-extra-semi": 2,
    "no-func-assign": 2,
    //no-inner-declarations
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": [1, {
      "requireReturn": false
    }],
    "valid-typeof": 2,
    //accessor-pairs
    "array-callback-return": 2,
    "block-scoped-var": 1,
    //complexity
    //consistent-return
    "curly": 2,
    "default-case": 2,
    //dot-location
    //dot-notation
    "eqeqeq": 2,
    //guard-for-in
    "no-alert": 2,
    "no-caller": 2,
    //no-case-declarations
    "no-div-regex": 2,
    //no-else-return
    "no-empty-function": 2,
    "no-empty-pattern": 2,
    "no-eq-null": 2,
    //no-eval
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-extra-label": 2,
    //no-fallthrough
    "no-floating-decimal": 2,
    "no-implicit-coercion": [2, { "allow": ["!!"] } ],
    //no-implicit-globals
    "no-implied-eval": 2,
    "no-invalid-this": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 1,
    //no-magic-numbers
    "no-multi-spaces": 2,
    "no-multi-str": 1,
    "no-native-reassign": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    //no-param-reassign
    "no-proto": 1,
    "no-redeclare": 2,
    "no-return-assign": 1,
    //no-script-url
    "no-self-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    //no-unmodified-loop-condition
    "no-unused-expressions": 2,
    "no-unused-labels": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    //"no-useless-escape": 2,
    "no-void": 2,
    //no-warning-comments
    "no-with": 2,
    "radix": 2,
    "vars-on-top": 1,
    "wrap-iife": [2, "inside"],
    "yoda": 2,
    "strict": [2, "global"],
    //init-declarations
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    //no-restricted-globals
    "no-shadow": 1,
    "no-shadow-restricted-names": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-undefined": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 2,
    "callback-return": 1,
    "global-require": 2,
    "handle-callback-err": 2,
    "no-mixed-requires": 2,
    "no-new-require": 2,
    "no-path-concat": 2,
    //no-process-env
    //Enable after amnesia is gone
    "no-process-exit": 2,
    //no-restricted-modules
    //Enable after Naveed's refactor
    //"no-sync": 2,
    "array-bracket-spacing": [2, "never"],
    //block-spacing
    "brace-style": 2,
    "camelcase": 2,
    "comma-spacing": [2, { "before": false, "after": true }],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    //consistent-this
    "eol-last": 2,
    //func-names
    //func-style
    //id-blacklist
    //id-length
    //id-match
    "indent": [2, 2, {"SwitchCase": 1}],
    //jsx-quotes
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "keyword-spacing": 2,
    "linebreak-style": [2, "unix"],
    "lines-around-comment": 2,
    "max-depth": [2, 10],
    "max-len": [2, 160, 4],
    "max-nested-callbacks": [2, 3],
    //max-params
    //max-statements
    "max-statements-per-line": [2, { "max": 1 }],
    "new-cap": 2,
    "new-parens": 2,
    //newline-after-var
    //newline-before-return
    "newline-per-chained-call": [2, {"ignoreChainWithDepth": 3}],
    "no-array-constructor": 2,
    "no-bitwise": 2,
    "no-continue": 2,
    //no-inline-comments
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": [2, {"max": 1}],
    //no-negated-condition
    "no-nested-ternary": 2,
    "no-new-object": 2,
    //no-plusplus
    //no-restricted-syntax
    "no-spaced-func": 2,
    //no-ternary
    "no-trailing-spaces": 2,
    //no-underscore-dangle
    "no-unneeded-ternary": 2,
    "no-whitespace-before-property": 2,
    "object-curly-spacing": [2, "never"],
    "one-var": [2, "never"],
    "one-var-declaration-per-line": [2, "always"],
    //operator-assignment
    "operator-linebreak": [2, "after"],
    "padded-blocks": [2, "never"],
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "sort-imports": 2,
    "sort-vars": 2,
    "space-before-blocks": 2,
    //space-before-function-paren
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "spaced-comment": [2, "always"],
    //wrap-regex

    //-----JUICE specific for now, everything below this-----
    "require-jsdoc": [1, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true
      }
    }],
    //ES6 Stuff
    "arrow-parens": 1,
    "arrow-spacing": 1,
    "constructor-super": 1,
    "no-class-assign": 1,
    "no-const-assign": 1,
    "no-dupe-class-members": 1,
    "no-this-before-super": 1,
    "no-var": 1,
    "object-shorthand": 1,
    "prefer-arrow-callback": 1,
    "prefer-const": 1
  }
}
