{
  "env": {
    "es6": true,
    "jasmine": true,
    "node": true
  },
  "globals": {
    "ROOT_DIR": true,
    "it": false,
    "xit": false,
    "describe": false,
    "xdescribe": false,
    "beforeEach": false,
    "before": false,
    "after": false,
    "afterEach": false,
    "mtShout": true,
    "statsd": false,
    "window": true,
    "document": false,
    "$": false,
    "angular": false,
    "_": true,
    "Spinner": false,
    "Mirror": false,
    "moment": true,
    "alert": false,
    "navigator": false,
    "matchMedia": false,
    "addthis": false,
    "Snap": false,
    "JIBE": true,
    "DateFormatter": true,
    "dateFormat": true
  },
  "rules": {
    "camelcase": [1, {"properties": "always"}],
    "comma-dangle": [1, "never"],
    "indent": [1, 2, {"SwitchCase": 1}],
    "no-debugger": 1,
    "no-extra-semi": 1,
    "no-multi-spaces": 1,
    "no-undef": 2,
    "no-unreachable": 1,
    "no-unused-vars": 1,
    "require-jsdoc": [1, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true
      }
    }],
    "valid-jsdoc": [1, {
      "requireReturn": false
    }],
    "yoda": [1, "never"],
    //ES6 Stuff
    "arrow-parens": 1,
    "arrow-spacing": 1,
    "constructor-super": 1,
    "no-class-assign": 1,
    "no-const-assign": 1,
    "no-dupe-class-members": 1,
    "no-this-before-super": 1,
    "no-var": 1,
    "object-shorthand": 1,
    "prefer-arrow-callback": 1,
    "prefer-const": 1
  }
}
