.ui-pill-list {
  list-style-type: none;
  padding: 0;
  .ui-pill {
    background-color: dodgerblue;
    border-radius: 10px;
    color: whitesmoke;
    display: inline-block;
    padding: 10px;
    .delete-icon {
      cursor: pointer;
    }
  }
}