<select style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;">
${
  scope.options.map(function (option) {
    if (option.display) {
      if (option.selected) {
        return '<option value=' + option.value + ' selected=true>' + option.display + '</option>';
      } else {
        return '<option value=' + option.value + '>' + option.display + '</option>';
      }
    } else {
      if (option.selected) {
        return '<option value=' + option.value + ' selected=true>' + option.value + '</option>';
      } else {
        return '<option value=' + option.value + '>' + option.value + '</option>';
      }     
    }
  })
}
</select>
