<select>
${
  scope.options.map(function (option) {
    if (option.display) {
      if (option.selected) {
        return '<option selected=true>' + option.display + '</option>';
      } else {
        return '<option>' + option.display + '</option>';
      }
    } else {
      if (option.selected) {
        return '<option selected=true>' + option.value + '</option>';
      } else {
        return '<option>' + option.value + '</option>';
      }     
    }
  })
}
</select>
