/* Transparent Overlay */
.juicy-spinner:before {
  content: '';
  display: block;
  position: fixed;

}

.juicy-spinner-container {
	top: 0;
	left: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  z-index: 1001;
  height: 100%;
  width: 100%;
}

.noScroll {
  overflow: hidden;
  z-index: 1000;
  display: block;
}