@media only screen and (max-width: 767px) {
  label {
    cursor: pointer;
    position: relative;
    // Required for iOS Safari bug
    > * {
      pointer-events: none;
    }
    input[type="checkbox"] {
      display: none;
    }
  }
  label input[type="checkbox"] + span {
    display: inline-block;
    line-height: normal;
    cursor: pointer;
    padding: 8px 14px;
    background-color: #ffffff;
    border: 1px solid #D0D0D0;
  }
  label input[type="checkbox"]:checked + span {
    border-color: #000;
    background-color: #105b63;
    color: #fff;
  }
}
